{% extends 'acc_back.html' %}
{% load static %}

{% block content %}
        <!-- page-content  -->
<main class="page-content pt-2">
         
    <a href="#" id="fmp-button" data-theme="ice-theme" class="theme ice-theme" style="display: none;"></a>
    <div id="overlay" class="overlay"></div>
    <div class="container-fluid p-5">
      <div class="card" style="margin:auto;margin-top: 3rem;">
        <div class="card-header" style="background-color: #2c6db8;height:2.5rem; color:white">
          <h5 style="margin-top: -0.5rem;">Raise Exception</h5>
        </div> 
        <form class="form-horizontal" style="margin-top: 1rem;" id='calloverexceptionreview' method="POST" action="{% url 'manualexception_acceptreview' %}">
          {% csrf_token %}
        <div class="bs-example">
            <nav class="navbar navbar-expand-md navbar-light">
                 
                   
                    <div class="navbar-nav ml-auto">
                      {% if isOwner %}
                      <input type="submit"  class="btn btn-success" value="Accept" />
                        {% endif %}
                        <button type="button" class="btn btn-primary ml-2" id='btnSend'>Save</button>
                        <button type="button" class="btn btn-primary ml-2" id='btnSend'>Message</button>
                        <button type="button" class="btn btn-danger ml-2"><a href="{% url 'followreview_acceptreview' %}">Close</a></button>
                    </div>
            </nav>
        </div>
      
      

    <div class="card-header" style="background-color: #2c6db8; margin: 1rem; color: white; height:2.4rem;">
        <h5 style="margin-top: -0.5rem;">Exception Detail</h5>
     </div>
     <div style="margin-right: 3rem;">
    <div class="form-group" style="margin-top: 1rem;">
      <label class="control-label col-sm-2" for="callover">Manual Exception ID*</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control" value="{{ manualexceptionid }}"  id="callover" name="manualexceptionid">
        <input type="text" class="form-control" value="{{ result.ID }}"  id="id" name="id" hidden>
        <input type="text" class="form-control" style="display: none;"  id="sendSignal" name="sendSignal">
      </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="branch">Exception Title*</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" value="{{ result.BRANCH_CODE }}"  id="branch"  name="exceptiontitle">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="observe">Recipient*</label>
        <div class="col-sm-10">          
          <input type="text" class="form-control" value="{{ result.EXCEPTION }}"  id="observe" name="recipient">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="severe">Recipient Email</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" value="{{ result.SEVERITY_LEVEL }}"  id="severe"  name="recipientemail">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="severe">Recipient Branch</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" value="{{ result.SEVERITY_LEVEL }}"  id="severe"  name="recipientbranch">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="severe">Severity Level</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" value="{{ result.SEVERITY_LEVEL }}"  id="severe"  name="severitylevel">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="severe">Exception Weight</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" value="{{ result.SEVERITY_LEVEL }}"  id="severe"  name="exceptionweight">
        </div>
      </div>
      <div class="card-header" style="background-color: #2c6db8;margin: 1rem; color: white; height:2.3rem;">
        <h5 style="margin-top: -0.5rem;">Details</h5>
     </div>
    
     <div class="form-group">
      <label class="control-label col-sm-2" for="action">Additional Recipients</label>
      <div class="col-sm-10">    
        <input type="text" class="form-control"  value="{{ result.OWNER }}" id="officer"  name="additionalrecipients">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="action">Created by</label>
      <div class="col-sm-10">    
        <input type="text" class="form-control"  value="{{ result.NEXT_OWNER_DETAIL}}" id="officer"  name="createdby">
      </div>
    </div>
 
 
    <div class="form-group">
      <label class="control-label col-sm-2" for="action">Accept Date</label>
      <div class="col-sm-10">    
        <input type="text" class="form-control"  value="{{ date }}" id="officer"  name="acceptdate">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="action">Review Date</label>
      <div class="col-sm-10">    
        <input type="text" class="form-control"  value="{{ date }}" id="officer"  name="reviewdate">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="action">Occurrence Date</label>
      <div class="col-sm-10">    
        <input type="text" class="form-control"  value="{{ date }}" id="officer" disabled  name="occurrencedate">
      </div>
    </div>  
    <div class="form-group">
      <label class="control-label col-sm-2" for="action">Exception Status</label>
      <div class="col-sm-10">    
        <input type="text" class="form-control"  value="{{ result.RESPONDENT_DETAIL}}" id="officer"  name="exceptionstatus">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="action">Amount</label>
      <div class="col-sm-10">    
        <input type="text" class="form-control"  value="{{ result.RESPONDENT_DETAIL}}" id="officer"  name="amount">
      </div>
    </div>  
    <div class="form-group">
      <label class="control-label col-sm-2" for="action">Date Created</label>
      <div class="col-sm-10">    
        <input type="text" class="form-control"  value="{{ date }}" id="officer"  name="datecreated">
      </div>
    </div> 
    <div class="form-group">
      <label class="control-label col-sm-2" for="action">Currency</label>
      <div class="col-sm-10">    
        <input type="text" class="form-control"  value="{{ result.RESPONDENT_DETAIL}}" id="officer"  name="currency">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="action">Owner</label>
      <div class="col-sm-10">    
        <input type="text" class="form-control"  value="{{ result.RESPONDENT_DETAIL}}" id="officer"  name="owner">
      </div>
    </div>  
    <div class="form-group">
      <label class="control-label col-sm-2" for="action">Supervisor</label>
      <div class="col-sm-10">    
        <input type="text" class="form-control"  value="{{ result.RESPONDENT_DETAIL}}" id="officer"  name="owner">
      </div>
    </div> 
    <div class="form-group">
      <label class="control-label col-sm-2" for="action">Other REceivers</label>
      <div class="col-sm-10">    
        <input type="text" class="form-control"  value="{{ result.RESPONDENT_DETAIL}}" id="officer"  name="otherreceivers">
      </div>
    </div> 
    <div class="card-header" style="background-color: #2c6db8;margin: 1rem; color: white; height:2.3rem;">
      <h5 style="margin-top: -0.5rem;">Exception Detail</h5>
   </div>
  
   <div style="margin-right: 3rem;">
    <div class="form-group" style="margin-top: 1rem;">
       <label class="control-label col-sm-2" for="others">Exception Detail</label>
       <div class="col-sm-10">          
         <textarea type="others" class="form-control"  id="comments"  name="exceptiondetail"></textarea>
  
         <input type="text" class="form-control"  value="{{ result.ALERT_COMMENTS }}" id="officer" hidden name="prevcomments">
       </div>
     </div>
   </div>

   <div style="margin-right: 3rem;">
    <div class="form-group" style="margin-top: 1rem;">
       <label class="control-label col-sm-2" for="others">Implication</label>
       <div class="col-sm-10">          
         <textarea type="others" class="form-control"  id="comments"  name="implication"></textarea>
  
         <input type="text" class="form-control"  value="{{ result.ALERT_COMMENTS }}" id="officer" hidden name="prevcomments">
       </div>
     </div>
   </div>
     
   <div style="margin-right: 3rem;">
    <div class="form-group" style="margin-top: 1rem;">
       <label class="control-label col-sm-2" for="others">Action</label>
       <div class="col-sm-10">          
         <textarea type="others" class="form-control"  id="comments"  name="action"></textarea>
  
         <input type="text" class="form-control"  value="{{ result.ALERT_COMMENTS }}" id="officer" hidden name="prevcomments">
       </div>
     </div>
   </div>
   <div style="margin-right: 3rem;">
    <div class="form-group" style="margin-top: 1rem;">
       <label class="control-label col-sm-2" for="others">Response</label>
       <div class="col-sm-10">          
         <textarea type="others" class="form-control"  id="comments"  name="response"></textarea>
  
         <input type="text" class="form-control"  value="{{ result.ALERT_COMMENTS }}" id="officer" hidden name="prevcomments">
       </div>
     </div>
   </div>
   <div style="margin-right: 3rem;">
    <div class="form-group" style="margin-top: 1rem;">
       <label class="control-label col-sm-2" for="others">Ic4 Reason</label>
       <div class="col-sm-10">          
         <textarea type="others" class="form-control"  id="comments"  name="ic4reason"></textarea>
  
         <input type="text" class="form-control"  value="{{ result.ALERT_COMMENTS }}" id="officer" hidden name="prevcomments">
       </div>
     </div>
   </div>
 


  </form>

</div>
<script>
  var calloverurl=$("#calloverurl").val()
      $(document).ready(function () {
          $("#myselect").change(function () {

              // var selectedVal = $("#myselect option:selected").text();
              var selectedVal = $("#myselect option:selected").text();
              if(selectedVal)
              {
                   args = {
                  selected: selectedVal,
             
                   };
                   $.ajax({
              url: calloverurl+'observation/',
              type: 'POST',
              dataType: 'JSON',
              data: args,
              success: function (response) {
                   
              
                 
                  
                      var query_result = response.query_result;
                      $('#severity').val(query_result.severity); 
                      $('#implication').val(query_result.implication);
                      $('#action').val(query_result.action);
                      


                     
                  
              }
          });
                 
  
              }

          });
      });
  </script>

<scr src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
crossorigin="anonymous"></scr>
<scr src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
crossorigin="anonymous"></scr>
<scr src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
crossorigin="anonymous"></scr>

<script>
  document.getElementById('btnSend').onclick=function(){

  
        // var inputF = document.getElementById("sendSignal"); 
  
      
        //     inputF.value = "textValue"; 
        document.getElementById('sendSignal').value='send'
        // alert(document.getElementById('sendSignal').value)
        // calloverexceptionreview
  
  document.getElementById('calloverexceptionreview').submit()
    
  }
  
  
</script>
{#<scr src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></scr>#}
{#    <!-- jQuery UI !-->#}
{#<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>#}

{% block script %}

<script src="https://cdn.rawgit.com/xcash/bootstrap-autocomplete/3de7ad37/dist/latest/bootstrap-autocomplete.js"></script>
<script>
$('.basicAutoComplete').autoComplete(
    {minLength: 1}
);
$('.dropdown-menu').css({'top': 'auto', 'left': 'auto'})

</script>
<script>
$("td.contribution").each(function() { $(this).html(parseFloat($(this).text()).toLocaleString('en-US', { style: "currency", currency: "USD" })); })
</script>
{% endblock %}

</main>

{% endblock %}