{% extends 'libraryback.html' %}
{% load static %}

{% block content %}
        <!-- page-content  -->
      

        <main class="page-content pt-2">
            
           
            <a href="#" id="fmp-button" data-theme="ice-theme" class="theme ice-theme" style="display: none;"></a>
            <div id="overlay" class="overlay"></div>
            <div class="container-fluid p-5">
            
             
                <div class="row">
                 
                   
                    <div class="col col-lg-2" style=" padding-right: 3px; border-radius: 10px; margin-left: 2px; ">
                        <a onclick="generateWord();"  title="Export to Word"><img src="{% static 'img/word-icon.png' %}" width="25" alt="word file icon" /></a>
                          <a   onclick="generate();"   title="Export to Pdf"><img src="{% static 'img/pdf-icon.png' %}" width="25" alt="png pdf file icon" /></a>
                          <a id="btnExport" title="Export to Excel"><img src="{% static 'img/xls-icon.png'  %}" width="25" alt="Excel Icon Small" /></a>
                     <a  href="{% url 'manualexceptiondetail'  %"> Create </a>
                     
                        </div>
                    <div class="col col-lg-6">
                     
            
            
                    </div>
                  
                    
           
            </div> 
            <div class="row">
                <div class="col col-lg-12">
        
                    <a href="" class=""
                            style="border-radius: 10px; border: 1px solid lightblue; margin-bottom: 5px; margin-top: 2px">
                        Refresh Tnx
                </a
                
                >
                </div>
            </div>
            <button class="btn btn-primary btn-lg"  id="exept-button"
            data-toggle="modal"
            type="button"
            data-target="#addContactModal" style=" background-color: green;" onclick="document.getElementById('addContactModal').style.display='block' ;">
        Exception
                    </button>
                    <div class="modal fade" id="addContactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="background-color: blue;min-height: 100%;width: 100%;margin-right: auto;" >
                        <div class="modal-dialog modal-md" role="document" style="min-width: 100%;min-height: 100%;" >
                          <div class="modal-content" >
                               
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                                <div class="panel-heading" style="height:40px;background-color:  #337ab7;font-weight: bolder;color:#fff;">
                                    <h3 class="panel-title" style="height:20px;">Callover Exception</h3>
                                   
                                </div>
                             
                              <!-- <h4 class="modal-title" id="myModalLabel">Add Exception</h4> -->
                            
                            <form  method="POST">
                                {% csrf_token %}
                            <div class="modal-body" >
                                <div class="container-fluid" >
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group">
                                <label for="contactfname" style="color: #337ab7;">Exception ID</label>
                                <input  class="form-control" type="text" name="Callover" id="transRef" style="border-color: #337ab7;" disabled required>
                                </div>
                                <div class="form-group">
                                <label for="contactmname" style="color: #337ab7;">Observation</label>
                                <select   class="form-control"  name="grouping" id="myselect" style="border-color: #337ab7;height: 40px;" required>
                                  <option value="">Select Exception</option>
                                  {% for f in yListr %}
                                      <option value={{ f.DESCRIPTION }}>{{ f.DESCRIPTION}}</option>
                                      {% endfor %}
                                  </select>
                                </div>
                                <div class="form-group">
                                <label for="contactlname" style="color: #337ab7;">Severity *</label>
                                <input type="text" class="form-control" name="Severity" style="border-color: #337ab7;" disabled id="severity" required>
                                </div>
                  
                                <div class="form-group">
                                  <label for="contactlname" style="color: #337ab7;">BSM/Head Teller*</label>
                                  <select name="bsmheadteller" class="form-control" name="grouping" id="bsmheadteller" style="border-color: #337ab7;height: 40px;" required>
                                    <option value="">Select BSM/Head Teller</option>
                                    {% for f in yLists %}
                                        <option value={{ f.USER_ID }}>{{ f.FIRST_NAME}}</option>
                                        {% endfor %}
                                    </select>
                                  </div>
                  
                                 
                                  <div class="form-group">
                                    <label for="contactlname" style="color: #337ab7;">Callover Officer</label>
                                    <input type="text" class="form-control" name="officer" id="officer" style="border-color: #337ab7;" disabled required>
                                    </div>
                                    <div class="form-group">
                                        <label for="contactlname" style="color: #337ab7;">Review Date</label>
                                        <input type="text" class="form-control" id='reviewDate' placeholder="dd/mm/yyyy" style="border-color: #337ab7;" disabled required>
                                        </div>
                                    
                                    </div>
                                     <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group">
                                <label for="contactea" style="color: #337ab7;">Branch Code</label>
                                <input type="text" class="form-control" name="branch" id="branchCode" style="border-color: #337ab7;" disabled required>
                                </div>
                                <div class="form-group">
                                <label for="contactnum" style="color: #337ab7;">Trans ID</label>
                                <input type="text" class="form-control" name="trans" id="transID" style="border-color: #337ab7;" disabled required>
                                </div>
                                <div class="form-group">
                                <label for="contactgroup" style="color: #337ab7;"  >Entry Date *</label>
                                <input type="text" class="form-control" id='enteryDate' disabled  placeholder='dd/mm/yyyy' style="border-color: #337ab7;" required>
                                </div>
                                <div class="form-group">
                                  <label for="contactnum" style="color: #337ab7;">Inputter</label>
                                  <input type="text" class="form-control" name="Severity" id="email" style="border-color: #337ab7;" disabled required>
                                  </div>
                                  <div class="form-group">
                                    <label for="contactnum" style="color: #337ab7;">Callover Date</label>
                                    <input type="text" class="form-control"id='calloverDate' disabled style="border-color: #337ab7;" disabled required>
                                    </div>

                                  
                                  
                                  
                                        <input type="hidden", name="transID" id="transID">
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="contactnum" style="color: #337ab7;">Exception Detail</label>
                                <textarea class="form-control" id="exceptionx" name="exception" style="border-color: #337ab7;" rows="6"  required>
                                  </textarea>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-6">
                                
                              

                                <div class="form-group">
                                    <label for="contactnum" style="color: #337ab7;">Action</label>
                                    <textarea class="form-control" id="action" rows="2" style="border-color: #337ab7;" disabled required>
                                        </textarea>

                                    </div>  
                  
                                 
                                      
                  

                                    
                                    </div>
                                     <div class="col-md-6 col-sm-6 col-xs-6">
                                   
                          
                                        <div class="form-group">
                                            <label for="contactlname" style="color: #337ab7;">Implication</label>
                                            <textarea id="implication" rows="2" class="form-control" style="border-color: #337ab7;" disabled  required>
                                              </textarea>
                      
                                            </div>
                                          
                                           
        
                                  
                                        <input type="hidden", name="transID" id="transID">

                                        <input type="hidden" name="calloverurl" id="calloverurl" value={{ calloverurl }}>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color: tomato;">Close</button>
                              <button type="submit" class="btn btn-primary" id="exception-modal-btn" disabled="disabled">Save Exception</button> 
                              <!-- <input type="submit" name="addgroupbtn" class="btn btn-primary" value="Save Contact"> -->
                                  </div>
                                </div>
                                    </div>
                            </div>
                            </form>
                          </div>
                        </div>
                      </div>
            <div class="panel panel-primary">
                <div class="panel-heading" style="height:30px;">
              
                    <h6 class="panel-title" style="height:20px;">Manual Exception Grid</h6>
                    <!-- <div class="float-right">
                        <span class="clickable filter" data-toggle="tooltip" title="Toggle table filter"
                              data-container="body">
                              
                            <i style="margin-top:1.0rem; color:#d9534f;" class="fas fa-search"></i>
                        </span>
                    </div> -->
                </div>
                <div class="panel-body">
                    <input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Exceptions">
                
                    <div style="height: 5px;"></div>
                  

                
                
                
                  <div style="height: 10px;"></div>
                  <select class="form-control" name="state" id="maxRows" style="border-color: #337ab7;height: 40px;" >
                    <option value="5000">Show ALL Rows</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="70">70</option>
                    <option value="100">100</option>
                  </select>               
                </div>
             
                  
        <table  id="dev-table" class="table table-bordered table-striped table-hover mytable"
        style="line-height: 1;  display: block; margin-bottom: 0; white-space: nowrap; ">
                        <thead class="thead-light" >
                        <tr>
                          <th style="background-color: #1565C0; color: white;text-align: left;"></th>
                          <th style="background-color: #1565C0; color: white;text-align: left;">EXCEPTION ID</th>
                          <th style="background-color: #1565C0; color: white;text-align: left;">EXCEPTION TITLE</th>
                          <th style="background-color: #1565C0; color: white;text-align: left;">RECIPIENT</th>
                          <th style="background-color: #1565C0; color: white;text-align: left;">RECIPIENT EMAIL</th>
                          <th style="background-color: #1565C0; color: white;text-align: left;">BRANCH CODE</th>                          
                          <th style="background-color: #1565C0; color: white;text-align: left;">SEVERITY LEVEL</th>                          
                          <th style="background-color: #1565C0; color: white;text-align: left;">ADDITIONAL RECIPIENTS</th>                          
                          <th style="background-color: #1565C0; color: white;text-align: left;">CONTROL PROCESS</th>
                          <th style="background-color: #1565C0; color: white;text-align: left;">REVIEW DATE</th>
                          <th style="background-color: #1565C0; color: white;text-align: left;">EXCEPTION STATUS</th>
                          <th style="background-color: #1565C0; color: white;text-align: left;">EXCEPTION DATE</th>
                          <th style="background-color: #1565C0; color: white;text-align: left;">EXCEPTION OWNER</th>
                          <th style="background-color: #1565C0; color: white;text-align: left;">IC4_INPUTTER</th>
                          <th style="background-color: #1565C0; color: white;text-align: left;">ACCEPT DATE</th>
                          <th style="background-color: #1565C0; color: white;text-align: left;">OBSERVATION</th>
                          <th style="background-color: #1565C0; color: white;text-align: left;">EXCEPTION DETAIL</th>
                          <th style="background-color: #1565C0; color: white;text-align: left;">IMPLICATION</th>
                          <th style="background-color: #1565C0; color: white;text-align: left;">ACTION</th>
                          <th style="background-color: #1565C0; color: white;text-align: left;">RECOMMENDATION</th>
                          <th style="background-color: #1565C0; color: white;text-align: left;">IC4_REASON</th>
                          <th style="background-color: #1565C0; color: white;text-align: left;">IC4 SEVERITY ID</th>
                          <th style="background-color: #1565C0; color: white;text-align: left;">ROW NO</th>
                      </tr>
                    </thead>
                        </tr>
                        </thead>
                        <tbody>
        
                            {% for result in results %}
                   

                     
                            <tr>
                                <td></td>
                                <td  >
                                    <a href="{% url  'alertreview'  result.ID %}"> {{ result.EXCEPTION_ID }} </a> 
                                 </td>
                                 <td  >
                                    {{ result.EXCEPTION_TITLE }} 
                                 </td>
                                 <td  >
                                     {{ result.RECIPIENT }}  
                                 </td>

                                 <td  >
                                    {{ result.RECIPIENT_EMAIL }}  
                                </td>
                                <td  >
                                    {{ result.BRANCH_CODE }}  
                                </td>
                                <td  >
                                    {{ result.SEVERITY_LEVEL }}  
                                </td>
                                <td  >
                                    {{ result.ADDITIONAL_RECIPIENTS }}  
                                </td>
                                <td  >
                                    {{ result.CONTROL_PROCESS }}  
                                </td>
                                <td  >
                                    {{ result.REVIEW_DATE }}  
                                </td>
                                <td  >
                                    {{ result.EXCEPTION_STATUS }}  
                                </td>
                                <td  >
                                    {{ result.EXCEPTION_DATE }}  
                                </td>
                                <td  >
                                    {{ result.EXCEPTION_DATE }}  
                                </td>
                                <td  >
                                    {{ result.EXCEPTION_OWNER }}  
                                </td>
                                <td  >
                                    {{ result.IC4_INPUTTER }}  
                                </td>
                                <td  >
                                    {{ result.ACCEPT_DATE }}  
                                </td>
                                <td  >
                                    {{ result.OBSERVATION}}  
                                </td>

                                <td  >
                                    {{ result.ACCEPT_DATE }}  
                                </td>
                                <td  >
                                    {{ result.EXCEPTION_DETAIL }}  
                                </td>
                                <td  >
                                    {{ result.IMPLICATION }}  
                                </td>
                                <td  >
                                    {{ result.ACTION }}  
                                </td>
                                <td  >
                                    {{ result.RECOMMENDATION }}  
                                </td>
                                <td  >
                                    {{ result.IC4_REASON }}  
                                </td>
                                <td  >
                                    {{ result.IC4_SEVERITY_ID}}  
                                </td>
                                <td  >
                                    {{ result.ROW_NO}}  
                                </td>
                                <td  >
                                    {{ result.ADDITIONAL_RECIPIENTS}}  
                                </td>
                              
                            </tr>
                            
                         {% endfor %}
                        </tbody>
                    </table>
        
          
              
              </div>
              
                      <div class="col col-lg-6" style=" padding-right: 3px; border-radius: 10px;  ">
                        <nav>
                          <ul class="pagination">
                            <li data-page="prev" >
                              <span> < <span class="sr-only">(current)</span></span>
                            </li>
                            <!--	Here the JS Function Will Add the Rows -->
                            <li data-page="next" id="prev">
                              <span> > <span class="sr-only">(current)</span></span>
                            </li>
                           
                          </ul>
                         
                        </nav>
                       
                       
                      </div>
                      <div class="col col-lg-2" style=" padding-right: 3px; border-radius: 10px; margin-left: 85%; ">
                    
                    
                      <input id="toalnpages" type="text" style="border: none;" />
                      </div>
      
                </div>
       
      
        
      
      
      
                      {% block javascript %}
                      {#checkbox script#}
                      <script>
                              $("#myselect").change(function () {
      
                                  // var selectedVal = $("#myselect option:selected").text();
                                  var selectedVal = $("#myselect option:selected").text();
                                  if(selectedVal)
                                  {
                              document.getElementById("profileform").submit()
      
                                  }
      
                                  });
                      </script>
                      <script>
                          $(document).ready(function () {
                              $(".mytable #checkall").click(function () {
                                  if ($(".mytable #checkall").is(':checked')) {
                                      $(".mytable input[type=checkbox]").each(function () {
                                          $(this).prop("checked", true);
                                      });
                      
                                  } else {
                                      $(".mytable input[type=checkbox]").each(function () {
                                          $(this).prop("checked", false);
                                      });
                                  }
                              });
                      
                              $("[data-toggle=tooltip]").tooltip();
                          });
                      
                      </script>
                      {#search field script#}
                      <script>
                          (function () {
                              'use strict';
                              var $ = jQuery;
                              $.fn.extend({
                                  filterTable: function () {
                                      return this.each(function () {
                                          $(this).on('keyup', function (e) {
                                              $('.filterTable_no_results').remove();
                                              var $this = $(this),
                                                  search = $this.val().toLowerCase(),
                                                  target = $this.attr('data-filters'),
                                                  $target = $(target),
                                                  $rows = $target.find('tbody tr');
                      
                                              if (search == '') {
                                                  $rows.show();
                                              } else {
                                                  $rows.each(function () {
                                                      var $this = $(this);
                                                      $this.text().toLowerCase().indexOf(search) === -1 ? $this.hide() : $this.show();
                                                  })
                                                  if ($target.find('tbody tr:visible').size() === 0) {
                                                      var col_count = $target.find('tr').first().find('td').size();
                                                      var no_results = $('<tr class="filterTable_no_results"><td colspan="' + col_count + '">No results found</td></tr>')
                                                      $target.find('tbody').append(no_results);
                                                  }
                                              }
                                          });
                                      });
                                  }
                              });
                              $('[data-action="filter"]').filterTable();
                          })(jQuery);
                      
                          $(function () {
                              // attach table filter plugin to inputs
                              $('[data-action="filter"]').filterTable();
                      
                              $('.container').on('click', '.panel-heading span.filter', function (e) {
                                  var $this = $(this),
                                      $panel = $this.parents('.panel');
                      
                                  $panel.find('.panel-body').slideToggle();
                                  if ($this.css('display') != 'none') {
                                      $panel.find('.panel-body input').focus();
                                  }
                              });
                              $('[data-toggle="tooltip"]').tooltip();
                          })
                      </script>
                      
                      {% endblock javascript %}
        </main>
        <!-- page-content" -->
   {% endblock %}