<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="StaticFile" />
            <remove name="Python FastCGI" />
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\wwwroot\iconcept4\venv\Scripts\python.exe|C:\inetpub\wwwroot\iconcept4\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
            <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Unspecified" requireAccess="Read" />
        </handlers>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".html" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
    </system.webServer>
    
    <appSettings>
        <!-- Required settings -->
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\iconcept4" />
        <add key="WSGI_HANDLER" value="iconcept4.wsgi.application" />

        <!-- Optional settings --> 
        <add key="DJANGO_SETTINGS_MODULE" value="iconcept4.settings" />
    </appSettings>
</configuration>
