{% extends "password_basic.html" %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card" style="width: auto; height: auto">
			<div class="card-header">
                <h3>{% trans "Change Password" %}</h3>
			</div>
			<div class="card-body">
                <p>{% trans 'Your password is now changed.' %}</p>
             <div>
                 <div>
                     <p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p>

                 </div>
            <p style="color: red">{{ form.errors }}</p>
        </div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
